<%- include('../../components/layout/header.ejs', { hideNav: true }) %>

<%- include('../../components/layout/admin-sidebar.ejs') %>

<main class="admin-main">
    <%- include('../../components/layout/admin-topbar.ejs') %>
    
    <div class="admin-content-wrapper p-4 p-lg-5">
        <h1 class="display-5 fw-black font-headline">Dashboard</h1>
    </div>

    <%- include('../../components/layout/footer.ejs') %>
</main>